<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{cakes.name}} Recipe</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/detail.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>

<body>

      <div class="container card2">
          <div class="card">
            <div class="container-fluid">
              <div class="wrapper row ">
                {{!-- cot anh ben trai --}}
                <div class="preview col-md-6">
                  
                  <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1"><img src="{{cakes.img}}" /></div>
                    <div class="tab-pane" id="pic-2"></div>
                    <div class="tab-pane" id="pic-3"></div>
                    <div class="tab-pane" id="pic-4"></div>
                    <div class="tab-pane" id="pic-5"></div>
                  </div>
                  
                </div>
                {{!-- cot info ben phai --}}
                  <div class="details col-md-6 position-relative">
                    <h1 class="product-title">{{cakes.name}}</h1>
                    
                    <h3>Time taken: {{cakes.time}} mins</h3>
                    {{!-- <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> --}}
                    <h4><strong>How it taste:</strong> </h4>
                    <h4>{{cakes.taste}}</h4>
                                                      
                    <h4><strong>Ingredients:</strong> </h4>
                    <h4>{{cakes.ingre}}</h4>
                    <h4><strong>How to do it:</strong> </h4>
                    <h4>{{cakes.steps}}</h4>

                    <div class="nut">
                      <a href="/edit/{{cakes._id}}"><button class="add-to-cart btn btn-default maunut" type="button">EDIT</button>  </a>
                      <button type="button" class="add-to-cart btn btn-default maunut" data-toggle="modal" data-target="#exampleModal" data-id="{{cakes._id}}" data-name="{{cakes.name}}"><span class="fa fa-trash-o"></span></button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
        <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                        {{!-- we can not use tag <a href=""></a> here, because, href send a get request to the server, not a delete req. --}}
                        <form name="deleteform" method="POST"> 
                          <input type="hidden" name="_method" value="DELETE">
                          <button id="sure" type="submit" class="btn btn-danger">Yes it sucks</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
      

        

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
    //JS 
    document.addEventListener('DOMContentLoaded', function(){
          var id;
          var delform = document.forms['deleteform'];

         $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            id = button.data('id') 
            name = button.data('name')

            var modal = $(this);
            modal.find('.modal-title').text('Do you want to throw away this ' + name + ' recipe?');
          });

          var sureButton = document.getElementById('sure');
          //console.log(sureButton);

          sureButton.onclick = function(){
              //alert(id);
              delform.action='/del/' + id;
              delform.submit();
          }
})
        </script>
</body>

</html>
        
        
{{!--         

  <h1> {{cakes.name}}</h1>
        <p>this cake is yummy</p>

        <a href="/edit/{{cakes._id}}">
        <button>Edit my recipe</button>
        </a>

        <a href="/del/{{cakes._id}}">
        <button>Throw away</button>
        </a> --}}
